body {
    font-family: Arial, sans-serif;
    background-color: #6f6f6f;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.chat-container {
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background: white;
}

#chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-message {
    max-width: 60%;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 5px 0;
    word-wrap: break-word;
}

.user {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}

.bot {
    background-color: #f1f1f1;
    color: black;
    align-self: flex-start;
}

.feedback-buttons {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.feedback-buttons button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.feedback-buttons button:hover {
    transform: scale(1.2);
}

.input-container {
    width: 95%;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 5px;
}

#user-input {
    flex: 1;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

#send-btn {
    padding: 8px 12px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 8px;
    font-size: 18px;
}

#send-btn:hover {
    background-color: #0056b3;
}

#chat-box::-webkit-scrollbar {
    width: 5px;
}

#chat-box::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 5px;
}

/* Responsive styling */
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    input {
        padding: 16px;
        font-size: 16px;
    }

    #send-btn {
        padding: 16px 20px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    input {
        padding: 14px;
        font-size: 14px;
    }

    #send-btn {
        padding: 6px 10px;
        font-size: 16px;
    }
}
